
.welcome-jumbo{
    transform: translate3d(300px, 0, 0);
    max-width: calc(100vw - 300px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #57a320; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #57a320 0%, #3e6838 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #57a320 0%,#3e6838 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #57a320 0%,#3e6838 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    overflow: hidden;
    padding: 100px;
    .status{
        display: inline-block;
        padding: 10px;
        font-size: 1.3rem;
        font-weight: 700;
        color: white;
        background: black;
        border-radius: 5px;
        align-self: flex-start;
        position: relative;
        top: 45px;
    }
    h1{
        padding-top: 50px;
        font-size: 3rem;
        font-weight: 900;
        align-self: flex-start;
        color: white;
    }
    .coffee-jumbo{
        height: 90%;
        animation: moveUpandDown 7s linear infinite;
        position: relative;
    }
    @keyframes moveUpandDown {
        0%, 100%{
            bottom: 0;
        }
        50%{
            bottom: 20px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .side-menu{

    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

    


