#menu-page{
    padding: 100px;
      #food-preview{
          padding: 0px;
          background: none;
          h2{
            color: white;
            text-transform: uppercase;
          }
          .button-rounded{
              margin-bottom: 2rem;
              display: none;
          }
          .right-btn, .left-btn{
              background: black;
          }
          .food-slider{
            width: 100%;
            max-width: 1400px;
            // display: flex;
            // margin-bottom: 1.5rem;
            overflow: hidden;
            position: relative;
            font-size: 0;
            .sliding-system{
                white-space: nowrap;
                transform: translate3d(40%, 0, 0);
            }
            
            .slide{
                width: 20%;
                position: relative;
                height: 500px;
                cursor: pointer;
                display: inline-block;
                white-space: normal;
                &:hover{
                    .background{
                        background: black;
                        transform: translate3d(0, -100px, 0);
                    }
                    .content{
                        .food-title{
                            color: white;
                        }
                        .food-description{
                            color: white;
                        }
                    }
                    
                }
            }
        }
      }
    
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) and (max-width: 767px) {
   #menu-page{
       padding: 20px;
   }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    #menu-page{
        padding: 20px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}